* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: white;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.container {
  max-width: calc(100vw - 120px);
  margin: auto;
  display: flex;
}

/* header */
header {
  background: linear-gradient(#060606, #141414);
}

header .container{
  height: 70px;
  justify-content: space-between;
}

header .container > div {
  display: flex;
  align-items: center;
}

/* header-left */
.header-left img {
  height: 30px;
}

.header-left nav {
  margin-left: 25px;
}

.header-left ul {
  display: flex;
}

.header-left li {
  margin-left: 20px;
}

.header-left li a {
  color: #e0eff7;
}

.header-left li.active a {
  color: white;
  font-weight: bold;
}

/* header-right */
.header-right > i, .header-right > img {
  margin-left: 20px;
  cursor: pointer;
}

.header-right > i {
  font-size: 20px;
}

.header-right > i:last-child {
  margin-left: 10px;
  font-size: 15px;
}

.header-right .search-box {
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: #030303;
}

.header-right .search-box i {
  margin-right: 15px;
  margin-left: 3px;
  cursor: pointer;
}

.header-right .search-box input{
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

/* main */
main {
  padding: 20px;
}

main .container {
  flex-wrap: wrap;
}

main .card {
  flex-basis: calc(100% / 6);
  margin: 0 calc(100% / 60) 50px;
  padding: 10px;
  border: 1px solid white;
}

main .card img {
  width: 100%;
}

main .card i.active {
  color: rgb(241, 239, 23);
}
