* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: white;
}

/* header */
header .container{
  max-width: calc(100vw - 120px);
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container img {
  height: 30px;
}
