<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BoolFlix</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  </head>

  <body>

    <div id="app">

      <!-- header -->
      <header>
        <div class="container">

          <img src="img/netflix.png" alt="logo">

          <div class="search-box">
            <input v-model="search" type="text" placeholder="Inserisci titolo..." @keyup.enter="searchMovies">
            <button @click="searchMovies">Cerca</button>
          </div>

        </div>
      </header>
      <!-- / header -->

      <!-- main -->
      <main>

        <div class="container">

          <div v-for="m in movies" class="card">
            <div>Titolo: {{ m.title }}</div>
            <div>Titolo originale: {{ m.original_title }}</div>
            <div>Lingua originale: {{ m.original_language }}</div>
            <div>Voto: {{ m.vote_average }}</div>
          </div>

        </div>

      </main>
      <!-- / main -->

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>

</html>
