<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BoolFlix</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  </head>

  <body>

    <div id="app">

      <!-- header -->
      <header>
        <div class="container">

          <!-- header-left -->
          <div class="header-left">
            <a href="#">
              <img src="img/netflix.png" alt="logo">
            </a>

            <nav>
              <ul class="nav-menu">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Serie Tv</a></li>
                <li><a href="#">Film</a></li>
                <li><a href="#">La mia lista</a></li>
              </ul>
            </nav>
          </div>
          <!-- / header-left -->

          <!-- header-right -->
          <div class="header-right">

            <div class="search-box">
              <i class="fas fa-search" @click="search"></i>
              <input v-model="searchField" type="text" placeholder="Inserisci titolo..." @keyup.enter="search">
            </div>

            <i class="fas fa-bell"></i>
            <img src="img/user.png" alt="user-pic">
            <i class="fas fa-caret-down"></i>

            <!-- hamburger-menu -->
            <div class="hamburger-menu">
              <i class="fas fa-bars"></i>
            </div>
            <!-- hamburger-menu -->

          </div>
          <!-- / header-right -->

        </div>
      </header>
      <!-- / header -->

      <!-- main -->
      <main>

        <div class="container">

          <div class="setting-search">

            <!-- filter -->
            <div class="filter">
              <label>Filtra</label>
              <select v-model="filter">
                <option value="all">All</option>
                <option v-for="i in numGenres.length" :value="numGenres[i-1]">
                  {{ genres[i-1] }}
                </option>
              </select>
            </div>
            <!-- / filter -->

          </div>

          <!-- cards -->
          <div v-for="r in results" class="card" v-if="filter == 'all' || r.genre_ids.includes(filter)">

            <img v-if="r.poster_path != null" class="poster" :src="'https://image.tmdb.org/t/p/w500/' + r.poster_path">
            <img v-else class="poster" src="img/placeholder.jpg" alt="">

            <div class="info-box">

              <div class="info-text">
                <!-- title -->
                <div v-if="r.hasOwnProperty('title')">
                  <span class="info">Titolo: </span>
                  {{ r.title }}
                </div>
                <div v-else>
                  <span class="info">Titolo: </span>
                  {{ r.name }}
                </div>
                <!-- / title -->

                <!-- original-title -->
                <div v-if="r.hasOwnProperty('original_title')" class="original_title">
                  <div v-if="r.original_title != r.title">
                    <span  class="info">Titolo Originale: </span>
                    {{ r.original_title }}
                  </div>
                </div>
                <div v-else>
                  <div v-if="r.original_name != r.name">
                    <span class="info">Titolo originale: </span>
                    {{ r.original_name }}
                  </div>
                </div>
                <!-- / original-title -->

                <!-- genres -->
                <div v-if="r.genre_ids.length > 0">
                  <span class="info">Generi: </span>
                  <span v-for="i in r.genre_ids.length">
                    {{ (i-1 == 0) ? getGenre(r.genre_ids[i-1], i-1) : ", " + getGenre(r.genre_ids[i-1], i-1) }}
                  </span>
                </div>
                <!-- / genres -->

                <!-- cast -->
                <div v-if="r.hasOwnProperty('cast') && r.cast.length > 0">
                  <span class="info">Cast: </span>
                  <span v-for="i in r.cast.length">{{ (i-1 == 0) ? r.cast[i-1].name : ", " + r.cast[i-1].name }}</span>
                </div>
                <!-- / cast -->

                <!-- overview -->
                <div v-if="r.overview != ''" class="overview">
                  <span class="info">Overview: </span>
                  <!-- {{ r.overview }} -->
                  {{ lengthControl(r.overview) }}
                </div>
                <!-- / overview -->
              </div>

              <!-- vl-box -->
              <div class="vl-box">

                <div v-if="flags.includes(r.original_language)" class="lang">
                  <img class="flag" :src="'img/'+ r.original_language +'.png'">
                </div>
                <div v-else class="lang">
                  <img class="flag" src="img/genericFlag.png">
                </div>

                <span class="info">Voto: </span>
                <i v-for="i in 5" class="fas fa-star" :class="(i <= Math.round(r.vote_average / 2)) ? 'active' : ''"></i>

              </div>
              <!-- / vl-box -->

            </div>

          </div>
          <!-- / cards -->

        </div>

      </main>
      <!-- / main -->

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>

</html>
