<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BoolFlix</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  </head>

  <body>

    <div id="app">

      <!-- header -->
      <header>
        <div class="container">

          <!-- header-left -->
          <div class="header-left">
            <img src="img/netflix.png" alt="logo">

            <nav>
              <ul class="nav-menu">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Serie Tv</a></li>
                <li><a href="#">Film</a></li>
                <li><a href="#">La mia lista</a></li>
              </ul>
            </nav>
          </div>
          <!-- / header-left -->

          <div class="header-right">

            <div class="search-box">
              <i class="fas fa-search" @click="search"></i>
              <input v-model="searchField" type="text" placeholder="Inserisci titolo..." @keyup.enter="search">
            </div>

            <i class="fas fa-bell"></i>
            <img src="img/user.png" alt="user-pic">
            <i class="fas fa-caret-down"></i>
          </div>

        </div>
      </header>
      <!-- / header -->

      <!-- main -->
      <main>

        <div class="container">

          <!-- movie-cards -->
          <div v-for="m in movies" class="card">

            <img v-if="m.poster_path != null" class="poster" :src="'https://image.tmdb.org/t/p/w500/' + m.poster_path" alt="movie_poster">
            <img v-else class="poster" src="img/placeholder.jpg" alt="">

            <div class="info-box">
              <div>{{ m.title }}</div>
              <div>{{ m.original_title }}</div>
              <div>
                <i v-for="i in 5" class="fas fa-star" :class="(i <= Math.round(m.vote_average / 2)) ? 'active' : ''"></i>
              </div>
              <div v-if="m.original_language == 'it'">
                <img class="flag" src="img/it.png">
              </div>
              <div v-else>
                <img class="flag" src="img/en.png">
              </div>
            </div>

          </div>
          <!-- / movie-cards -->

          <!-- tv-cards -->
          <div v-for="s in tvSeries" class="card">

            <img v-if="s.poster_path != null" class="poster" :src="'https://image.tmdb.org/t/p/w500/' + s.poster_path" alt="series_poster">
            <img v-else class="poster" src="img/placeholder.jpg" alt="">

            <div class="info-box">
              <div>{{ s.name }}</div>
              <div>{{ s.original_name }}</div>
              <div>
                <i v-for="i in 5" class="fas fa-star" :class="(i <= Math.round(s.vote_average / 2)) ? 'active' : ''"></i>
              </div>
              <div v-if="s.original_language == 'it'">
                <img class="flag" src="img/it.png">
              </div>
              <div v-else>
                <img class="flag" src="img/en.png">
              </div>
            </div>

          </div>
          <!-- / tv-cards -->

        </div>

      </main>
      <!-- / main -->

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>

</html>
